.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px 150px 150px;
  grid-auto-rows: 150px;
  place-content: center;
  /*  align-items: start; */
  height: 600px;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 4rem;
}
