.contenedor {
  border: 5px solid #e1bee7;
  background-color: white;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 75px 75px 75px;
  grid-template-areas:
    "one one one"
    "two three three"
    "two three three";
  place-content: center;
}

.item {
  font-size: 2rem;
}

.item-1 {
  border: 5px solid #f8bbd0;
  background-color: #ffeeff;
  /*grid-column-start: 1;
  grid-column-end 4; */
  grid-area: one;
}

.item-2 {
  border: 5px solid #e1b337;
  background-color: #ff11ff;
  /*grid-row: 2/4;*/
  grid-area: two;
}

.item-3 {
  border: 5px solid #e1bee7;
  background-color: #e5ffff;
  /*grid-area: 2/2/4/4;*/
  grid-area: three;
}
