body {
  counter-reset: game;
}
input:checked {
  counter-increment: game;
}
.total-count::after {
  content: counter(game);
}

/* layers - apilamiento */
body {
  display: grid;
  counter-reset: score;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

input [type=checkbox]:focus {
  appearance: none;
  opacity: none;
}

input:checked {
  counter-increment: score;
}

.score::after {
  content: counter(score);
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background: #CCEFFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
  0 15px 12px rgba(0, 0, 0, 0.22);
}

.layer-1 {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  background: #CCEFFF;
  bottom: 0;
  right: 60px;

  animation-name: layer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes layer {
  0% {
    bottom: 0;
  }
  25% {
    bottom: -80px;
  }
  100% {
    bottom: 0;
  }

}

.layer-1 input[type=checkbox] {

}

.layer-2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  background: white ;
  bottom: 0;
  left: 60px;
}

.layer-3 {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 220px;
  height: 400px;
  background: wheat;
  bottom: 0;
}

.layer-4 {
  position: absolute;
  z-index: 4;
  height: 350px;
  width: 80px;
  background: white ;
  bottom: 0;
  left: 20px;
}

.layer-5 {
  position: absolute;
  z-index: 5;
  height: 350px;
  width: 80px;
  background: white ;
  bottom: 0;
  left: 120px;
}

.layer-6 {
  position: absolute;
  z-index: 6;
  left: 20px;
  right: 0;
  width: 180px;
  height: 300px;
  background: black;
  bottom: 0;
}

.layer-7 {
  position: absolute;
  z-index: 7;
  height: 250px;
  width: 80px;
  background: white ;
  bottom: 0;
  right: 20px;
}


.layer-8 {
  position: absolute;
  z-index: 8;
  height: 250px;
  width: 80px;
  background: white ;
  bottom: 0;
  right: 120px;
}

.layer-9 {
  position:absolute;
  z-index:9;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: lawngreen;
  bottom: 0;
  right: 0;
  left: 0;
}

.layer-10 {
  position:absolute;
  z-index:10;
  width: 100px;
  height: 100px;
  background: olive;
  bottom: 0;
  right: 0;
}

/* Orejas del conejo */
.left-ear--outer {
  background: black;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
}
.left-ear--inner {
  background: white;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.right-ear--outer {
  background: black;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  right: 10px;
}
.right-ear--inner {
  background: white;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.head {
  background: gray;
  border-radius: 50%;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  width: 100%;
}

.head__eye {
  background: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 15px;


  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    height: 4px;
  }
  5% {
    transform: translate(0px, 2px);
    height: 1px;
  }
  10% {
    transform: translate(0px, 0px);
    height: 4px;
  }
}

.head__eye--left {
  left: 30px;
}

.head__eye--right {
  right: 30px;
}
