// Varaiable 
$color-brand: #eaB3ee;
$color-secondary: rgb(219, 216, 121);

$color-black : rgb(0,0,0);
$color-darkgrey : #4d4d4d;
$color-grey : #737373;
$color-lighgrey : #bfbfbf;
$color-white : white;