@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
  font-family: 'Roboto mono', space;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
nav .nav-logo-container {
  margin-left: 50px;
}
nav .nav-logo-container img {
  width: 200px;
  margin-top: 10px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}


/* Imagen de fondo */
.main-background {
  background-image: url("../assets/img/Cover.png");
  height: calc(100vh - 140px);
  /* height: 70vh; */
  /* height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-width: 320px; */
  display: grid;
  /* justify-content: center; */
}
.main-container {
  text-align: center;
}
.main-title {
  width: 55%;
  margin: 0 auto;
  padding-top: 10%;
  font-size: 20px;
}

.main-title h1 {
  color: white;
  letter-spacing: 10px;
}

.main-container button{
  border: 1px solid white;
  background-color: #47cfac;
  color: black;
  font-weight: 700;
  width: 110px;
  padding: 15px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  margin-top: 7%;
}

/* .main-container a button:hover {
  background-color: #47cfac;
  transform: scale(1.1);
} */
/* 
.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url('../assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display:grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}

.home-main-text {
  font-size: 30px;
  font-weigth: 700px;
  letter-spacing: 10px;
  color: balck;
  text-aling: center;
}
 */
 
 /* blogs main */
/* blogs.html */
.blogs-main {
  display: grid;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.blogs-news-img-container {
  grid-column: 1;
}
.blogs-news-img-container img {
  width: 85%;
}
.blogs-news-info-container {
  grid-column: 2;
}
.blogs-news-info-container p {
  margin-bottom: 35px;
}
.blogs-post-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}
.blogs-button:hover {
  border: 1px solid white;
  color: white;
  background-color: #48CFAD;
}

/* section post */
.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color:  #22272d;
  border-top: 35px solid #48CFAD;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 30px;
}

/* blog.html */
/* main */
.blogpost-img-container {
  padding: 0 50px 40px;
}
.blogpost-img-container img {
  width: 100%;
}
.blogpost-main-container {
  padding: 0 50px 40px;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
}
.blogpost-main-container article h1 {
  font-size: 35px;
}
.blogpost-main-container article p {
  text-align: justify;
}
/* contacto */
.contact-main-container {
  width: 100%;
  min-height: 250px;
  background-color: #e6e9ed;
  text-align: center;
  padding-bottom: 50px;
}
.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contact-main-container div a {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.contact-main-container .contact-left, .contact-right {
  text-align: initial;
  margin-top: 85px;
}

.contact-main-container img {
  width: 100px;
}

/* Profile */
.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
}
.profile-main-container img {
  width: 320px;
  margin-right: 30px;
}
.profile-main-container .profile-container {
  display: flex;
}
.profile-main-proyects {
  padding: 0 50px 40px;
}
.profile-main-proyects h3 {
  border-bottom: 1px solid #cdd2da;
  padding: 35px;
  text-align: center;
}
.proyects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.proyect-container {
  padding: 0 10px;
}

/* responsibe */
