.shadow {
  width: 100px;
  height: 100px;
  background: lightseagreen;
  border-radius: 50%;
}
.circle {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle:hover {
  transform: translate(20px, -20px);
}