.circle {
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle:hover {
  transform: scale(0.8);
}

/* transform-skew  */
div  {
  background-color: lightpink;
  width: 100px;
  height: 100px;
  border-radius: 20%;
}
div:hover {
  transform: skew(20deg);
}

