.contenedor--cajas {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.caja {
  max-width: 430px;
  .sombra-caja();
  &__contenido {
    padding: 25px;
    background-color: @color-claro;
  }
  span {
    color: @color-secundario;
    .Oswald();
  }
  a {
    text-decoration: none;
    color: @color-variacion;
    .Oswald();
  }
}