extend components/plantilla.pug
block contenidos 

    section.intro 
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido 
        //- h2= titulo
        //- h2 #{titulo}
        h2 #{titulos[0]}
        p 
          | Lorem, ipsum dolor sit amet 
          | consectetur adipisicing elit. 
          | Error praesentium neque natus eligendi quia?  voluptatum!
          span Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto aut architecto deserunt, enim sed pariatur impedit. 
        a.boton Leer mas
    //- ul 
    //-   each titulo in titulos 
    //-     li=titulo 
    main.contenido 
      +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
      +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
      +caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
      //- .caja 
        //- .caja__imagen: img(src="images/imagen.png")
        //- .caja_contenido 
        //-   h3 #{titulos[1]}
        //-   span Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto aut architecto deserunt, enim sed pariatur impedit. 

      //- .caja 
      //-   .caja__imagen: img(src="images/imagen.png")
      //-   .caja_contenido 
      //-     h3 #{titulos[1]}
      //-     span Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto aut architecto deserunt, enim sed pariatur impedit.
      
      