a:link {
  color: hotpink;
}
a:visited {
  color: tomato;
}
a:hover {
  background-color: palegoldenrod;
}

p:not(.maravillas) {
  color: lightblue;
}
.container div:nth-child(1) {
  color: lightseagreen;
}