@import "css/body.css";
@import "css/container.css";
@import "css/navbar.css";
@import "css/main.css";
@import "css/side.css";
@import "css/footer.css";
@import "css/modal.css";

@import "css/animation.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}