body {
  margin: 0;
}

.parallax-container {
  width: 100%;
  height: 100vh;
  perspective: 8px;
  perspective-origin: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: 0 50%;
}

.image__background {
  height: auto;
  width: 100%;
  transform: translateZ(0px) scale(1);
  transform-origin: 0 50%;
}

.image__middle {
  height: 100%;
  width: 100%;
  transform: translateZ(5px) scale(0.375);
  transform-origin: 50%;
}

.image__foreground > img {
  transform: translateZ(2px) scale(0.75);
  transform-origin: top;
}

.card {
  background-color: yellow;
  border-radius: 8px;
  width: 80px;
  height: 100px;
  position: absolute;
  transform: rotate(-20px);
}

.one {
  left: 10%;
  top: 200px;
}

.two {
  right: 10%;
  top: 400px;
}

.three {
  right: 10%;
  bottom: -900px;
}