.main-tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}

.product-card--container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}

.plans-container--slider {
  justify-content: center
}
