$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 20px 33px rgba($color-primario, 0.50); 
  color: $color-primario;
  background-color: $color-claro;
}
@mixin titulos($fuente) {
  @if $fuente==$Fuente1 {
    font-family: $Fuente1;
  } @else {
    font-family: $Fuente2;
    text-transform: uppercase;
  }
}

@function get-opacity($color,$nivel) {
  @return rgba($color,$nivel);
}

@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	@include titulos($Fuente1);
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}