.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:  "nav     aside"
                        "section aside"
                        "footer  aside";
}