/* super-man */
.side-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

  grid-area: aside;
}

.side-content p {
  transform: rotate(-90deg);
  font-size: 36px;

  grid-row: 1 / 2;
  grid-column: 1 / 2;

  opacity: 0;

  animation: side-content-text;
  animation-duration: 0.5;
  animation-delay: 2.5s;
  animation-timing-function: easi-in-out;
  animation-fill-mode: forwards;
}

@keyframes side-content-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.side-content img {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 1 / 2;

  animation: 2s side-content-img 0.5s ease-in-out;
  /* z-index: 3; */
}

@keyframes side-content-img {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0px);
  }
}

.side-content div {
  background: var(--yellow);

  grid-column: 4 / 7;
  grid-row: 1 / 2;
  height: 100%;
  /* z-index: 2; */
}