@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Oswald:300,400,500,600,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #333333;
	margin: 0;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

h2,h3 {
	font-size: 35px;
	font-weight: 900;
}

header, footer {
	display: flex;
	height: 100px;
	padding: 20px;
	font-size: 20px;
	background-color: #8898C0;
	color: #FFF;
	text-transform: uppercase;
}

header .boton, header a {
	margin-left: auto;
}

header a {
	margin-left: auto;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
}

.intro {
	background-color: #EEF1F7;
	width: 100%;
	height: 400px;
	display: flex;
	padding: 40px 0 0 40px;
}

.intro__imagen img{
	width: 350px;
	height: auto;
	margin-right: 40px;
}

.intro__contenido p {
	max-width: 90%;
	font-size: 20px;
	line-height: 40px;
	margin: 15px 0 30px 0;
}

.intro__contenido span {
	display: block;
	font-weight: bold;
	font-style: italic;
}

.boton {
	display: block;
	width: 200px;
	height: 50px;
	padding: 8px 0;
	text-align: center;
	background-color: #012179;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 900;
	text-decoration: none;
}

.boton:hover {
	background-color: #333;
	color: #FFF;
	text-decoration: none;
}

.contenido {
	display: flex;
	align-items: center;
  justify-content: center;
}
.caja {
	max-width: 400px;
	margin: 50px 20px;
}

.caja__imagen {
	background-color: #CED7E9;
	text-align: center;
	padding: 20px 0;
}

.caja__imagen img {
	height: 200px;
	width: auto;
}

.caja__contenido {
	background-color: #EEF1F7;
	padding: 20px;
}

/* homepage */
.contenido {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 75vh;
}

.contenido__side {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-weight: bold;
	justify-content: center;
	background-color: #EEF1F8;
	padding: 35px;
	width: 100%;
	height: 100%;
}

.contenido__side ul {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #012179;
	list-style: none;
	padding: 0;
}

.contenido__principal {
	padding: 50px;
}


footer ul {
	margin-left: auto;
	display: flex;
	align-content: flex-end;
}
footer li {
	list-style: none;
	margin: 0 20px;
}
