
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(20px, auto);
  column-gap: 1em;
  row-gap: 1em;
  justify-items: start;
}

.grid div {
  background: #ecf0f1;
  padding: 1em;
}

.grid div:hover {
  border: 1px solid #f1c40f;
}


