<script src="https://kit.fontawesome.com/d7c3558388.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="style.css">

<div class="wrapper">
    <header class="title-container">
        <p>Playing Now</p>
    </header>
    <section class="cards-section">
    <div class="cards-container">
        <article class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/A1iKwR302xL._SL1500_.jpg" alt="">
        </article>
        <article class="card">
            <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/602508735165.jpg" alt="">
        </article>
        <article class="card">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/0a/Lost_Frequencies_Alive_and_Feeling_Fine.jpg" alt="">
        </article>
    </div>
    </section>
    <section class="bar">
        <h3>Godzilla</h3>
        <p>Eminem, Juice WRLD</p>
        <div class="progres-bar">
            <progress max="100" value="65"></progress>
            <div class="time">
                <p>2:31</p>
                <p>3:30</p>
            </div>
        </div>
    </section>
    <footer class="buttons">
        <div class="button left-button">
            <span>
                <i class="fas fa-redo"></i>    
            </span>
        </div>
        <div class="button left-button">
            <span>
                <i class="fas fa-step-backward"></i>
            </span>
        </div>
        <div class="play-button">
            <span>
                <i class="fas fa-play"></i>
            </span>
        </div>
        <div class="button right-button">
            <span>
                <i class="fas fa-step-forward"></i>
            </span>
        </div>
        <div class="button right-button">
            <span>
                <i class="far fa-heart"></i>
            </span>
        </div>
    </footer>
</div>
</body>
</html>