:root {
  --blue: #0DA8FF;
  --black: #252C34;
  --soft-white: #F8F1F1;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.wrapper {
  width: 320px;
  height: 520px;
  display: grid;
  grid-template-rows: 50px 280px auto auto;
  margin: 30px auto;
}
.title-container {
  width: 100%;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}
.title-container p {
  font-size: 1.8rem;
  font-family: 'Metrophobic', sans-serif;
  color: var(--soft-white)
}
.cards-section {
  width: 100%;
  grid-row: 2 / 3;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  position: relative;
  padding-left: 20px;
  background-color: var(--black);
}
.cards-container {
  white-space: nowrap;
  margin-top: 20px;
}
.card {
  width: 241px;
  height: 241px;
  /*position: absolute;*/
  display: inline-block;
  overflow: hidden;
  scroll-snap-align: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.699),
  -10px -10px 15px rgba(255, 255, 255, 0.17);
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
::-webkit-scrollbar {
  display: none;
}
.bar {
  grid-row: 3 / 4;
  width: 100%;
  padding: 10px 20px 0;
  background: var(--black);
  height: auto;
  max-height: 110px;
}
.bar h3 {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Metrophobic', sans-serif;
  font-weight: 500;
  color: var(--soft-white);
}
.bar p {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Metrophobic", sans-serif;
  color: var(--soft-white);
}
.progres-bar {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.progres-bar progress {
  display: flex;
  margin: 0 auto;
  width: 257px;
  margin-top: 10px;
}
::-moz-progress-bar {
  color: #0DA8FF;
}
.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.buttons {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 5px;
  background: var(--black);
  justify-content: center;
  align-items: center;
}
.play-button {
  width: 75px;
  height: 75px;
  background-color: var(--blue);
  border-radius: 50%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.89), 0px -9px 15px rgba(255, 255, 255, 0.25);
}
.play-button span {
  position: absolute;
  top: 30%;
  left: 36%;
}
.fa-play {
  font-size: 3rem;
  color: var(--soft-white);
}
.button {
  width: 40px;
  height: 40px;
  background: var(--black);
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  position: relative;
}
.button span {
  position: absolute;
  top: 30%;
  left: 30%;
}
.fa-redo, 
.fa-step-backward,
.fa-step-forward,
.fa-heart {
  font-size: 1.7rem;
  color: var(--blue);
}
.right-button {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.80),
  -5px -8px 15px rgba(255, 255, 255, 0.25);
}
.left-button {
 box-shadow: 3px -6px 15px rgba(255, 255, 255, 0.25), -9px 9px 15px rgba(0, 0, 0, 0.82);
}