body {
  margin: 0;
}

ul {
  list-style: none;

}
a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav li ul {
  display:block;
  opacity: 0;
  position: absolute;
  transition: opacity 400ms;
  transition-delay: 300ms;
}
.nav li:hover > ul {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 300ms;
}
.nav li ul li {
  position: relative;
}
.nav li ul li {
  right: -80px;
}