/* id */
#titulo {
  color: tomato;
  border-radius: 8px;
}

.texto {
  border: 5px black solid;
}
p {
  color: blueviolet;
  font-size: 25px;
}
/* clase */
p.text {
  color: blue;
}

/* contenedores y selectores */
div p {
  color: aquamarine;
}

div h2, h3 {
  color: brown;
}

/* selector universal */
* {
  font-size: 24px;
  color: black;
}

p.text {
  /* color: hotpink; */
  color: rgba(14, 200, 150);
  border-style: outset;
  border-color: hotpink;
  border-radius: 5px;
  border-width: 5px;
  border-spacing: 1px;
}

#fondo {
  /* background-color: rgba(14, 200, 150, 0.1); */
  /* opacity: 0.8; */
  /* background-image: url('coffee.png'); */
  height: 400px;
  /* background-size: 200px 200px;
  background-repeat: repeat-y;
  background-position: left top; */
  background: #f00 url('coffee.png') repeat-y center bottom / 100px 100px;
}

.margen {
  background-color: pink;
  margin: 50px;
  padding: 30px 50px;
  border: solid 1px black;
  height: 100px;
  width: 50px;
  overflow: hidden;
}
