@tailwind base;
@tailwind components;

.form-control {
  @apply w-full leading-snug text-gray-600 py-1 px-4 rounded border border-blue-300 bg-gray-200;
}
.form-control-blue {
  @apply w-full leading-snug text-gray-600 py-1 px-4 rounded border border-blue-300 bg-gray-200;
}

.form-control-blue1 {
  @apply w-full leading-snug text-gray-600 py-1 px-4 rounded border border-blue-300 bg-gray-200;
}

@tailwind utilities;


h1 {
  @apply text-3xl text-green-700 font-semibold;
}
h2 {
  @apply text-2xl text-blue-400 font-semibold;
}
h3 {
  @apply text-xl text-yellow-200 font-semibold;
}