@media (max-width: 600px) {

  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: auto;
  }
  .main_section, .info-card-section {
    padding: 4%;
  }
  .container, .card{
    display: inherit;
    height: auto;
    margin-top: auto;
  }


}