/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Variables  */

:root {
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;
  
  /* Font-size */
  --normal: 12px;

  /* Espaciado  */
  --space: 10px;

  /* box-shadow */
  --box: 0px 0 2px #e6e5e9;

}

/* Variables */

html,body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


p, label{
  font-size: var(--normal);
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* Main Section */
.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  background-image: url("../img/curve.png");
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 10%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
  /* 0 0 1px #c1bcbc; */
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 12px;
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 8px;
}
.main_button {
  background-color: #5e9e22;
}

/* section */
.info-card-section {
  /* width: 100%; */
  padding: 10%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}
.container{
  padding: 0 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card{
  height: 380px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  /* transition: 0.4s; */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .card .top-text{
  padding: 10px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 18px;
} */


/* ------------------------------------------- Venta */
.modulo_pago{
  background-color:var(--white-color);
  box-shadow: var(--box);
  padding:var(--space-2);
}

.modulo_pago_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin:auto;
}

.data {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
}

.modulo_pago .main_btn{
  margin-top: 10px;
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #4f5450;
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.left ul {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left a {
  text-decoration: none;
  color: var(--green-color);
}